<!DOCTYPE html>
<head>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Abigail Africa</title>
    <link rel="stylesheet" href="/app.css">
    <script src="/vendor.js"></script>
    <script src="/app.js"></script>
    <script>require('initialize');</script>
    //- icon
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    //- opengraph 
    <meta property="og:title" content="Abigail Africa" />
    <meta property="og:type" content="article" />
    <meta property="og:image" src="https://abigail.africa/pics/header.png" />
    <meta property="og:description" content="Creative Work" />
    <meta property="og:site_name" content="Abigail Africa" />

        //- Global site tag (gtag.js) - Google Analytics



</head>