extends ../_includes/layout
include mixins/mixins.pug
block content

  .brunch   
    .main
      .menu
          //- a(href='https://twitter.com/abigaillafrica', target="_blank")
          //-   img(class="twitter", src="pics/Drawn-Twitter.png", alt="Twitter") 
          a(href="/index.html")
            img(class="work-icon", src="pics/Drawn-Home.png", alt="Beez")
          a(href="/work.html")
            img(class="work-icon", src="pics/Drawn-Work.png", alt="Work")
          a(href="https://beez.substack.com/p/why-you-havent-heard-from-me", target="_blank")
            img(class="eco-icon", src="pics/Drawn-Writing.png", alt="Blog")
          a(href="https://www.wren.co/profile/beez", target="_blank")
            img(class="eco-icon", src="pics/Drawn-Carbon.png", alt="Climate Impact")
          a(href="https://www.figma.com/file/e5scTLDfLVFje9JGyaNuJg/SAMPLE-DECKS?node-id=4%3A419")
            img(class="eco-icon", src="pics/Drawn-Decks.png", alt="Climate Impact")


      h2.name Decks

        div.home-container

          p I commission pitch decks and provide feedback sessions for people who don't feel confident presenting.
          
          h4 Experience

          p I spent four years pitching and presenting to 100+ executives across 40+ industries at USC Iovine & Young Academy. Throughout that time, I've had a lot of practice making decks for public speaking, sharing ideas, telling stories, and persuading people. I've even written about some of what I've learned 
           +link("https://www.figma.com/blog/on-pitching-and-presenting/","for Figma's blog")(class="bio-underline")
           |.    
          
          p As a first year, I was pitching to executives across various industries every week to week and a half. I pitched to Disney Imagineers, medical marijuana tycoons, entertainment executives, VCs, and startup founders. Sophomore and junior year, our curriculum focused on design consulting and strategy, so I started creating serial presentations for updating clients including Mattel and XQ Institute.

          h4 Commissions
            p.workplace Average pricing: $2,000-4,000          
          p Start by checking out my samples from 
            |
            +link("https://www.figma.com/file/e5scTLDfLVFje9JGyaNuJg/SAMPLE-DECKS?node-id=4%3A419","pitch & presentation decks")(class="bio-underline")
            |  and 
            +link("https://www.figma.com/file/e5scTLDfLVFje9JGyaNuJg/?node-id=4%3A419","takeaway decks")(class="bio-underline")
            |  on Figma.
          
          p Deck pricing varies by basic format (takeaway vs. presentation), style (TED vs. information-dense), length, and how much information needs to make it onto slides or pages. Illustration, 3D, and video are all add-ons, and I work with trusted subcontractors for most of those elements on an as-available basis.
           
          p You should know that there is a significant difference between me and a branding studio. I only work for clients with existing brand directions. To help with timing, I work with a team of trusted friends and often subcontract for extras.

          p If you're in need of a deck, send a flare to <span class="code">hello</span> + <span class="code">@</span> + this website.

          h4 Coaching 
          p I'm happy to advise the formula of a pitch as well as your delivery, whether you'll deliver digitally or in person. If you're commissioning a deck, I automatically fold 90 minutes of free coaching into the package so that we can work together on formulating an elegant presentation narrative. 

          p Please contact me with your needs and we can chat about plans and pricing.

          h4 Student pricing
          
          p I have need-based pricing for students who need coaching and I provide advice for decks. I sell decks to students who are pitching VC firms, but not for coursework or pitch competitions. Coaching for students at community colleges, HBCUs, and vocational schools is free on an as-available basis.
