extends ../_includes/layout
include mixins/mixins.pug
block content

  .brunch   
      .main
        
        h1 Let's build you some strong computing practices.  
        
        .bio

          h3 
            br
            br
            h3 What are group computing practices?

          p When I was at Notion I learned a lot about the ways groups of people use computers together. "Groups of people" could mean companies, student organizations, educational administrations, couples, groups of friends, and so on. 

          p What's most intriguing to me is the way groups of people use their hardware and software to achieve shared goals and ideals as well as the practice of forming communities and cultures on computers.

          p In the last few years, the web, its total users, and powerful web technologies have grown and changed very quickly. This creates pretty wild potential for group computing techniques to grow, too, but we haven't scaled or grown education around how to use computers powerfully, even at a personal level.

          p I've been learning a lot about group computing techniques and helping companies and groups of people construct powerful conventions around their computers and software systems. Drawing heavily upon my time at Notion, the softwares I use and recommend are Notion, Slack, and G Suite. 

          p I'd love to hear about you and your business -- I typically help small to mid-size clients who have a lot of information and digital work to organize across lots of computers and software tools. My goal mission is to take individuals and groups doing important work into a future of powerful, hygienic computing.

          p I have worked with Tower 28 Beauty, USC Iovine & Young Academy faculty and staff, SimpleProgress LLC, Spark SC, Lavalab, and Generation She. 
          
          p(id="email") 📮 My email = 
            |
            b 'hello' 
            | + at +  
            b this website 
            | -- would love to hear from you.


        //- +articleHeader("Better Computing for Everyone", "pics/side-office.png")
        //-   p It's really hard to explain what working at Notion was like for three reasons:
        //-     ol 
        //-       li I was hired as a marketing intern and I did experience design
        //-       li I was doing a lot of day to day work that felt loosely removed from the overall vision
        //-       li Working in the office was itself another part of it 