extends ../_includes/layout
include mixins/mixins.pug
block content
    .brunch
      .main
        .menu
            a(href='https://twitter.com/abigaillafrica', target="_blank")
              img(class="twitter", src="pics/twitter.svg") 
            a(href="/index.html")
              img(class="work-icon", src="pics/wave.png", alt="Work")
            a(href="/index.html")
              img(class="work-icon", src="pics/work.png", alt="Work")
        
        .home-container

        h2 An open letter about my gap year

        .home-container
            p.workplace Wed, August 11, 2020

            p To college students everywhere –

            p It’s early August, and I’m back in my college town. The typical signs of fall are beginning to appear, with small twists: the USC Target has dusted off their <i>Welcome back, students!</i> banner, and shipments of cheap microwaves and white plastic storage bins have taken over most of the store. People mill around them cautiously. Professors have again begun emailing students about the coming semester, but in place of the usual decisive messages about materials and policies have come gentle reminders that everyone should maintain a flexible mindset. 

            p Even though it's necessary, it's tough for me to muster a flexible mindset. I’ve spent the past three years constructing a vision of a senior year in my major program, where I’m studying design, technology, and entrepreneurship as interlocking disciplines. My instinct is to clench my fists and find every opportunity to preserve that vision, but it’s a tall order. My senior capstone involves pitching, running, and growing a startup. On top of that, I still have several GE’s to finish, and I have leadership positions to fill on campus. I know that the case is similar for many people reading this letter. I can’t quite square with the idea of a remote year yet, partly because it feels like the antithesis of my curriculum, which is more hands-on than a typical major. We spend most of class time in working groups, huddled around one computer, or operating maker-space machinery.

            p Naturally, there has been a lot of conversation about people’s plans for the fall. From what I can tell, at least a third of my program is taking classes from their high school bedrooms. Students without a scholarship are frustrated with the expectation to pay for a degree delivered over Zoom. Some of us are taking classes from the USC area (we’re paying rent, anyway). My international friends have little choice about whether to return, not willing to jeopardize their visas. And I and a few others have been whispering about a gap year.

            p When I brought up my gap year a few weeks ago at home, my whole family recoiled. My parents kept recycling similar lines of critical questioning, which always ended at, “Why not just finish?” I sat on the couch, grasping at arguments to make. “You can go back to your job next year,” said my dad. “What makes you think you’ll want to go back to school next fall? You could be taking online classes then, too. A gap year just makes it easier for you to not finish.” 

            p I went to get a drink. My grandmother, who was cutting fruit in the kitchen, grabbed my face with two hands and whispered, “Just finish. You are almost done.” 

            p I didn’t have great answers to their questions, not least any that I explained well that day. The simple rationale for delaying my senior year is three-prong: I want to have a high quality of invested time, I’d rather work for a year to build up my savings, and I could benefit from extended experience at a startup before running my own. This still didn’t feel like enough, and couldn’t quite address their other pressing concern that if I take time off, I raise my chances of not returning and getting my degree at all. In retrospect, this was probably their most fundamental fear. 

            p To me and to many of my friends, gap years and dropouts occupy a very specific entrepreneurial narrative – that an idea or that a genius so unique can excuse us from having to finish our degrees and lead to billions of dollars, if we play the market right. 
            
            p But to my family, education is the ladder to success. All four of my grandparents immigrated in the 70's, leaving behind careers as a lawyer, shipping merchant, banker, and nurse. They each took up multiple minimum-wage jobs, supporting my parents until they could get degrees at American universities. 

            p In turn, my parents took great care to invest everything they could into my education. They were conservative spenders. We didn’t take grand vacations. Instead, they paid for my education. I understood this and worked hard at school; it was clear that learning was always the priority. Eventually, I got into USC with a full merit scholarship. My mom still sends me links to graduate programs, a path I lost interest in a few years ago. Time off does not compute.

            p The conversations I’ve been having with friends about whether or not to return to school have been practical, social, and economic: What’s the real cost of going back this fall? Of taking time off? What will I do without my community? How do you think employers will see a gap year? What is the value of a degree, anyway? The conclusion that I’ve come to is that, while there are hard truths about the price of education and the length of a year, the answers to these questions are different for everyone. The biggest question I’ve been grappling with is cultural: do any of these answers change for me as a woman of color?

            p When I hold a flame up to the mythology of the dropout mythology in tech, one thing is clear: on the surface, I appear to be nothing like the typical success story. Plainly, I’m not a white Ivy League male, and I’m not tee’d up for the next batch of YC founders or Thiel Fellows. The optimist’s view is that I’ll get the jobs I’m meant for, with employers who value me for my merit, and I’ll excel as long as I work hard. I hold onto this optimism with a loose grip, hoping this will eventually be the whole truth. But I’ve seen that time and time again, meritocracy is limited for women who look like me.

            p <i>"Predicting who will succeed is an imperfect art. And parts of it can be a self-fulfilling prophecy. When venture capitalists say—and they do say—“We think it’s young white men, ideally Ivy League dropouts, who are the safest bets,” and then only invest in young white men with Ivy League backgrounds, of course young white men with Ivy League backgrounds are the only ones who make money for them (they also are the only ones who lose money for them, but who’s keeping track of that?)."</i> <b>- Ellen Pao, <i>Reset</i>, on her time at Kleiner Perkins.</b>

            p It has dawned on me that while the time off from school is idealized for white men, it can be a risk and an obstacle for women and people of color. I’m a Filipino woman, and despite there being a lot of people who look like me in tech, I wonder how my future will unfold if I never return for my degree. Merely entertaining the gap year feels like a privilege and I am humbled to be in the position where it’s a realistic (read: financially feasible) option. But what about for my Black and Latin colleagues and peers? Do they get the luxury of deciding that they don’t need the university label to be considered for jobs if they don’t like the way their senior year is looking? 

            p I took my uncertainty about plans for fall to my mentors. My current boss at Primer, Ryan Delk, gave me a new set of questions to ask, the most straightforward being, “Where are you going to grow more in a year?” This question has echoed around my mind frequently over the last few weeks. I feel strongly that for me, the answer wouldn’t be remote classes—but instinctually, not finishing out my final year seemed like a risky bet. So I tapped a trusted mentor—my old boss, Camille Ricketts, Notion’s resident wordsmith and general marketing mastermind.

            p “How do you think about regret? What about risk? Self-confidence?” I asked.

            p “I wish I had taken far bigger risks earlier in my career,” she told me. “The stakes only get higher as the years go by, and suddenly you find yourself unable to make a radical move or explore something very different. You have too many responsibilities, or your experience has become too specific and focused. Early on is the time to be an energetic and ambitious generalist and get a lot of exposure to many things. Before age 30 is the time to try things that seem scary, or maybe even illogical. Do the things that you love, that inspire you, that you can’t get out of your head, that you find yourself working on or thinking about even when you’re tired or outside of your main work. Looking back now, I had so much optionality and I closed doors for arbitrary reasons. Try a lot of things.”

            p And in the long run?

            p "Don’t worry about your long-term earning potential. If you’re good at something you love, the money will truly follow. I’ve seen it happen for so many of my peers. It sounds cliche, but I think it’s very important to keep in mind.” 

            p Today, I’m officially withdrawing from all of my courses for the year of 2020-2021. I know my reflections are highly individual, but this letter is meant for anyone who is also asking themselves similar questions. Each question is highly individual, and not everyone has a job or an idea or a safety net for a gap year. Wherever you are, you’re not alone in this conundrum. 

            p I didn’t feel like trying to answer it, and I was resolved to go back to school to avoid another hefty debate. I played back the raw recording of John Maeda’s interview while snacking on Trader Joe’s Apple Blossoms, and I had to stop and replay something he had said halfway through. “What if you can’t afford it?” said Dylan. “Calculate the ROI,” he said. Both Jeff and Marc advocated for the same in their interviews. 

            p This feels like the key at the end of the day. The ideas I have about growth or education, even when bolstered by these incredibly thoughtful and successful people, ignore the math of the educational investment we’ve been making this whole time. So I do what John says – calculate the ROI. I write out the numbers – the amount I’d make in my year off, and what that could cover, divided across my student loans, a car, rent for next year, savings. I send it to my mom and wait. 

            p There is a long silence. And then:

            p <b>Mom:</b> <span class="code">Promise me</span> <br> <span class="code">Pls promise me you will FINISH</span> <br> <span class="code">YOU MUST GET YOUR DEGREE</span>

            p <b>Me:</b> <span class="code">I promise you I will graduate</span>

            p <b>Mom:</b> <span class="code">Such a shame... you need it...</span>

            p She has a point. I am pretty short. 

            p Today, I’m officially withdrawing from all of my courses for the year of 2020-2021. I know my reflections are highly individual, but this letter is meant for anyone who’s also asking themselves similar questions. Each question is highly individual, too. Not everyone has a job, or an idea, or a safety net for a gap year. Wherever you are, you’re not alone in this conundrum. 

            p If you want to join the conversation with other people who are also thinking about making the most of this year, taking time off, or dropping out, check out Figma’s student Slack. We have a channel called #back-2-school where everyone is doing just that.


            