extends ../_includes/layout
include mixins/mixins.pug
block content

  .brunch   
    .main
      .menu
          //- a(href='https://twitter.com/abigaillafrica', target="_blank")
          //-   img(class="twitter", src="pics/Drawn-Twitter.png", alt="Twitter") 
          a(href="/work.html")
            img(class="work-icon", src="pics/Drawn-Work.png", alt="Work")
          a(href="https://beez.substack.com/p/why-you-havent-heard-from-me", target="_blank")
            img(class="eco-icon", src="pics/Drawn-Writing.png", alt="Blog")
          a(href="https://www.wren.co/profile/beez", target="_blank")
            img(class="eco-icon", src="pics/Drawn-Carbon.png", alt="Climate Impact")
          a(href="/commissions.html", target="_blank")
            img(class="eco-icon", src="pics/Drawn-Decks.png", alt="Deck Commissions", target="_self")

      img.profile(src="pics/straight-on.png" alt="Abigail Africa")  
      h1.name Abigail Africa

        div.home-container
          
          p Many things excite me: children's books, farmers markets, social computing, ceramics, gently toasted bread — but I am most excited about improving the ways people learn. I just spent my gap year crafting community among kids at 
            |
            +link("https://iovine-young.usc.edu/","Primer")(class="bio-underline")
            | . I'm about to switch gears for the summer, when I'll be helping Figma 
            +link("https://www.figma.com/blog/an-open-letter-about-my-gap-year/","tell stories")(class="bio-underline")
            |  once again. 
            
          p I believe that the way we learn depends inextricably on how we compute. I helped develop 
            +link("https://www.notion.so/students","education plans")(class="bio-underline")
            |  at Notion to explore that thesis. 
            //- | I've also helped advance equity and inclusion at USC, design a school for 
            //- +link("https://xqsuperschool.org/xq-schools","XQ Institute")(class="bio-underline")
            //- |  in LA, and craft 
            //- +link("https://generationshe.co","entrepreneurship curriculum")(class="bio-underline")
            //- |  for hundreds of high school students. 

          p In my free time, I commission 
            +link("/commissions.html","pitch decks")(class="bio-underline", target="_self")
            |.

          p Also, no one calls me Abigail. You can address me as "Beez" (or, as Primer kids say, "Miss Beez") in any internet letters to <span class="code">hello</span> + <span class="code">@</span> + this website. 

          p(class="meta") 
            +link("https://iovine-young.usc.edu/thepulse/Winners-of-Futurethon-2018_147.html","B.S. Integrated Design, Technology, & Business →")
            //- br
            //- +link("https://joininteract.com/","_Interact →")
            //- br
            //- +link("https://www.globalci.org/fellows/","IDEO x GCYS @ Cambridge, MA →")
            //- br
            //- +link("https://www.exeter.edu/","Phillips Exeter Academy →")

          //- img.hero-img-container(src="pics/self-portrait.png" alt="Self Portrait")

            //- Start JS
        //- script. 

          //- tippy('.twitter', {
          //-   content: 'Twitter',
          //-   theme: 'dark',
          //-   arrow: true,
          //-   distance: 0,
          //-   delay: 0,
          //- })

          //- tippy('.work-icon', {
          //-   content: 'Work',
          //-   theme: 'dark',
          //-   arrow: true,
          //-   distance: 0,
          //-   delay: 0,
          //- });

          //- tippy('.blog-icon', {
          //-   content: 'Writing',
          //-   theme: 'dark',
          //-   arrow: true,
          //-   distance: 0,
          //-   delay: 0,
          //- });

          //- tippy('.eco-icon', {
          //-   content: 'Carbon Report',
          //-   theme: 'dark',
          //-   arrow: true,
          //-   distance: 0,
          //-   delay: 0,
          //- });

          //- //- tippy('.hero-img-container', {
          //- //-   content: 'Self-portrait',
          //- //-   theme: 'dark',
          //- //-   arrow: true,
          //- //-   distance: 0,
          //- //-   delay: 0,
          //- //- });