extends ../_includes/layout
include mixins/mixins.pug
block content
    .brunch
      .main
        .menu
            a(href='https://twitter.com/abigaillafrica', target="_blank")
              img(class="twitter", src="pics/twitter.svg") 
            a(href="/index.html")
              img(class="work-icon", src="pics/wave.png", alt="Work")
            a(href="/index.html")
              img(class="work-icon", src="pics/work.png", alt="Work")
        
        .home-container

        h1 Spark SC

        .home-container
            p.workplace Last updated Mon, December 16, 2019


            p.fancy-body 
                +link("https://sparksc.org", "Spark SC")(class="bio-underline")
                |  is a student organization that grows entrepreneurial culture and systems at USC, in Los Angeles, and around the world. We have 40 active student members and 40 attentive alumni.

            .hero-img-container
                img.block-image(src="pics/spark-header-b.jpg")
                p.meta 
                    +link("https://priscillapan.com/","Priscilla")(class="bio-underline") 
                    |  and I at our semesterly internal hackathon.

            p.fancy-body <b>Praxis</b> is one of my favorite words. It comes from the Greek <em>pratten</em>, for <b>doing</b> — it is the translation of idea into action, or idea to impact.
            
            p.fancy-body I was first exposed to this idea through Spark, a student organization at USC. Spark's official mission is to 
                +link("https://sparksc.org","inspire a culture of innovation, expose students to their creative potential, and connect makers across diverse communities")(class="bio-underline")
                |. I joined Spark my freshman fall and learned about the entrepreneurial spirit and why it's so important to nurture in young people. 

            p.fancy-body I've spent 5 semesters in Spark and am going on my third semester as co-president with the lovely 
                |
                +link("https://www.linkedin.com/in/yeggic/", "Christian Yeghnazar")(class="bio-underline")
                |. Spark has roughly 40 student members spread across 9
                |
                +link("https://sparksc.org/committees","initiatives")(class="bio-underline")
                | . Five of those members serve as the Core Team, which contains two presidents. There are no set roles, though we cover what we believe are Spark's critical focuses: impact, fellowship, and finance.

            p.fancy-body Christian and I are proud to serve our third semester on a Core Team that includes our friends 
                +link("https://www.linkedin.com/in/richardfzhang/", "Richard")(class="bio-underline")
                | , 
                +link("https://twitter.com/arisokolov?lang=en","Ari")(class="bio-underline")
                | , and Quinn. Before joining Core team in January 2019, I led our internal Communications and Graphics teams.

            p.fancy-body I have also been an organizing member of our speaker series team, thousand-person pitch competition, student-run product-design class, and a retired art festival initiative. 

            p.fancy-body Read more about Spark on our 
                +link("https://medium.com/@GoSparkSC/applications-c441386f319b","Medium")(class="bio-underline")
                |.
            